<div>
  <input type="text" placeholder="Adjective" ng-model="words.adjectiveA">
  <input type="text" placeholder="Musical instrument" ng-model="words.musicalInstrument">
  <input type="text" placeholder="Last name" ng-model="words.lastNameA">
  <input type="text" placeholder="First name" ng-model="words.firstNameB">
  <input type="text" placeholder="Nth (2nd, 3rd, 4th, etc.)" ng-model="words.nth">
  <input type="text" placeholder="State" ng-model="words.state">
  <input type="text" placeholder="Music genre" ng-model="words.genreA">
  <input type="text" placeholder="City" ng-model="words.city">
  <input type="text" placeholder="Nationality" ng-model="words.nationality">
  <input type="text" placeholder="Another adjective" ng-model="words.adjectiveB">
  <input type="text" placeholder="Band name" ng-model="words.bandName">
  <input type="text" placeholder="Another last name" ng-model="words.lastNameB">
  <input type="text" placeholder="Another music genre" ng-model="words.genreB">
  <input type="text" placeholder="Album name" ng-model="words.albumName">
  <input type="text" placeholder="Another first name" ng-model="words.firstNameA">
  <input type="text" placeholder="One more music genre" ng-model="words.genreC">
  <button type="button" ng-click="submitWordSet(words)">Send</button>
</div>
